<!-- display question -->
<div id="question">
  <p><%= @query%></p>
  <p><em>-You</em></p>
</div>

<!-- display answer -->
<div id="answer">
  <p><strong><%= @answer%></strong></p>
  <p><em>-Your coach</em></p>
</div>
<!-- link to new question -->

<%= link_to 'Ask new question', ask_path %>
