// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray;
   margin-left: 20px;
 }

  a {
   color: grey;
   &:hover {
     color: black;
   }
   text-decoration: none;
 }

#question {
  border-left: 6px solid lightgrey;
  padding: 2px 20px;
  margin-bottom: 16px;
}

#answer {
  background-color: #FCFFCD;
  border-left: 6px solid lightgrey;
  padding: 2px 20px;
  margin-bottom: 16px;
}

#form-content {
  margin: 0 auto;
  height: 40px;
  padding: 10px;
}
